body {font-family: Impact, sans-serif; font-size: 16px; max-width: 980px; margin: 20px auto;padding:10px;}

#left {width:45%;float:left;margin-right: 50px;}

#right {width:45%;float: left;}

#user {
	font-size: 30px;
	display: inline-block;
	width:300px;
}

#button {
	-moz-box-shadow:inset 0px 0px 0px 0px #ee97fe;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ee97fe;
	box-shadow:inset 0px 0px 0px 0px #ee97fe;
	background-color:#da3df6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d133ed;
	display:inline-block;
	font-family:Impact;
	font-size:20px;
	font-weight:bold;
	padding:8px;
	text-decoration:none;
	text-shadow: none;	
	width: 100px; 
}
#button:hover {
	background-color:#b51ed0;
}
#button:active {
	position:relative;
	top:1px;
}

#zeedl {
	min-height: 200px;
	background-color: green;
	padding: 10px 0px 40px 0px;
	width: 100%;
}
#bangg {
	font-family:Impact;
	font-size:30px;
	font-weight:bold;
	text-align: center;
}

.otherbangg {
	background: grey;
	margin: 0 5px 5px 0;
	padding:5px;
	width: 40%;
	min-height: 30px;
	float:left;
	text-align: center;
	font-size: 22px;
	text-decoration: none !important;
	color: black;
	
}

a.otherbangg:hover:before {
	content: "< ";
}

a.otherbangg:hover:after {
	content: " >";
}

.yellow {background: rgba(255,255,0,0.7);}
.blue {background: rgba(0,0,255,0.7);}
.red {background: rgba(255,0,0,0.7);}
.pink {background: rgba(255,191,202,0.7);}
.green {background: rgba(0,128,0,0.7);}
.fuchsia {background: rgba(255,0,255,0.7);}
.aqua {background: rgba(0,255,255,0.7);}

#wrapper {width:100%;}

#todo {margin-top: 200px;color:grey;border-top:1px dotted grey;padding-top: 20px;clear: both;}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
#user {width:280px;}

#button {width: 280px;}
#left, #right {
	width: 280px;
	clear:both;
	margin:0;
}

#zeedl {width:280px;margin: 0;}
.otherbangg {width:120px;float:left;}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
#user {width:280px;float:left; margin-right: 10px;}

#button {width: 120px;}
#left, #right {
	width: 440px;;
}

#zeedl {width:440px;margin: 0;}
.otherbangg {width:120px;float:left;}
}

/* Big Smartphones (portrait) ----------- */
@media only screen 
and (min-width : 321px) and (max-width:400px) and (orientation:portrait) {
/* Styles */
#user {width:340px;float:left;}

#button {width: 340px;}
#left, #right {
	width: 340px;
	clear:both;
	margin:0;
}

#zeedl {width:340px;margin: 0;}
.otherbangg {width:140px;float:left;}

}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
